/* "*" {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */

.body {
  background: var(--mantine-color-gray-1);
}

.spaceup::after {
  content: "";
  display: block;
  clear: both;
  margin-bottom: 4% !important;
}

/* a {
  color: inherit;
  text-decoration: none;
} */