.main {
    padding: 0;
    background-color: "transparent";
}

.requestCount {
    background-image: linear-gradient(-60deg,
        var(--mantine-color-cyan-7) 100%,
        var(--mantine-color-cyan-4) 0%
    );
    color: var(--mantine-color-white);
}